<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <meta name="description" content=<%- description %> /> 
  
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="shortcut icon" href="/nodejs.svg" type="image/x-icon">
    <%- json %>
</head>
<body>
    <main>
 
        <%- include('header') %>
        <article>
           <%- include('home') %>
           
         
        </article>
     <%- include('footer'),{ year : year } %>
    </main>
    <%- include('js') %>
</body>
</html>